body {
    font-family: Arial, sans-serif;
}

.form-container {
    margin: 50px auto;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #aaa;
}

.banner {
    position: relative;
    width: 100%;
    height: 100px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: grey;
    font-size: 28px;
    text-align: left;
}

.subheader {
    left: 5%;
    font-size: 16px;
    color: gray;
    font-weight: normal;
    margin-top: 5px;
}

.weatherform {
    padding: 20px;
}

label {
    color: rgb(68, 68, 175);
}

input[type="text"], select {
    padding: 8px;
    margin-top: 5px;
}

#street {
    width: 96%;
    margin-bottom: 20px;
}

.city-state-container {
    display: flex;
    justify-content: space-between;
}

.city-state {
    width: 100%;
}

.city-state label {
    display: block;
    margin-bottom: 5px;
}

#state {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e2e2e2;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj48cGF0aCBkPSJNNSAwbC01IDVoMTB6IiBmaWxsPSIjY2NjIiAvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    outline: none;
    width: 100%;
    max-width: 300px;
}

.required-asterisk {
    color: orange;
    margin-left: 2px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.submit-button {
    background-color: lightblue;
    color: white;
}

.clear-button {
    background-color: orange;
    color: white;
}

.buttons button:hover {
    opacity: 0.8;
}

.error-message {
    position: absolute;
    padding: 5px;
    background-color: rgb(224, 224, 224);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
    white-space: nowrap;
}


.results {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#weather-card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.weather-card {
    width: 500px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.weather-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.weather-card .address {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: grey;
    margin-bottom: 20px;
}

.weather-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
}

.weather-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.weather-code {
    font-size: 15px;
    color: rgb(156, 156, 156);
    margin-top: 5px;
}

.temperature {
    font-size: 70px;
    text-align: right;
    color: grey;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.weather-details .weather-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weather-details .title {
    font-size: 14px;
    color: rgb(156, 156, 156);
    margin-bottom: 5px;
}

.weather-details .weather-detail-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    color: rgb(156, 156, 156);
}

.weather-details .value {
    font-size: 16px;
    color: rgb(156, 156, 156);
}

#forecast-table-container {
    justify-content: center;
    margin-top: 20px;
}

#forecast-table-container {
    display: none;
}

#forecast-table-container.show {
    display: block;
}

.weather-forecast {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-spacing: 0 10px;
}

.weather-forecast th {
    background-color: #263b9c;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: grey;
}

.weather-forecast td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.weather-forecast tr {
    border-bottom: 4px solid #ddd;
}

.status-icon {
    width: 40px;
    height: 40px;
}

#daily-weather-card {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.daily-weather-card {
    width: 500px;
    background: linear-gradient(to bottom, rgb(228, 228, 228), #4c62c7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

#daily-weather-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.daily-weather-header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.daily-weather-header .date {
    font-size: 25px;
    color: navy;
    text-align: left;
    margin-bottom: 10px;
}

.daily-weather-header .weather-description {
    font-size: 25px;
    color: navy;
    text-align: left;
    margin-bottom: 10px;
}

.daily-weather-header .temp-information {
    font-size: 30px;
    color: navy;
    text-align: left;
    margin-top: 5px;
}

.daily-weather-header .weather-icon {
    width: 150px;
    height: 150px;
    margin-left: auto;
}

.daily-weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.daily-weather-details .detail-item {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

#weather-charts-header {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

#down-arrow-container {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.down-arrow {
    width: 50px;
    height: auto;
    justify-content: center;
}

#chart-container {
    display: none;
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

#meteogram-container {
    display: none; 
    position: relative;
    background-color: #ffffff;
    padding-bottom: 60px;
}

